.popup__container {
    max-width: 430px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 895px) {
    .popup__container {
        max-width: 282px;
    }
}