.popup__container {
    height: 100%;
    max-height: 330px;
    max-width: 430px;
    width: 100%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}