.form__description {
    margin: 30px auto 0 auto;
    padding: 0;
    max-width: 358px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: inherit;
}

@media screen and (max-width: 673px) {
    .form__description {
        max-width: 238px;
    }
}