.container-plus {
    max-width: 150px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    border: 2px solid #FFF;
    box-sizing: content-box;
    margin: auto 0 auto auto;
    border-radius: 2px;
}

.container-plus:hover {
    opacity: .6;
    transition: all .6s ease;
}

@media screen and (max-width: 673px) {
    .container-plus {
        max-width: 282px;
        max-height: 50px;
        margin: 36px auto 0 auto;
    }
}