.popup__container-close {
    display: flex;
    justify-content: flex-end;
    margin-right: -40px;
}

@media screen and (max-width: 673px) {
    .popup__container-close {
        max-width: 282px;
    }
}