.header {
    max-width: 880px;
    margin: 42px auto 37px auto;
    box-sizing: border-box;
    border-bottom: 1px solid #545454;
    opacity: .7;
    padding-bottom: 41px;
}

@media screen and (max-width: 895px) {
    .header {
        margin: 28px auto 38.25px auto;
        padding-bottom: 32px;
    }
}