.element__heart {
    width: 22px;
    height: 19px;
    margin: 0;
    background: url(../../../image/heart.svg) no-repeat center center;
    background-size: cover;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: all ease 0.5s;
}

.element__heart:hover {
    opacity: 0.5;
}