.profile__container-pen {
    width: 24px;
    height: 24px;
    border: 1px solid #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 18px;
    box-sizing: border-box;
    cursor: pointer;
}

.profile__container-pen:hover {
    opacity: .6;
    transition: all .6s ease;
}