.profile__text {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
    margin: 16px 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
}

@media screen and (max-width: 895px) {
    .profile__text {
        font-size: 14px;
        line-height: 17px;
        margin-top: 14px;
        max-width: 282px;
        text-align: center;
    }
}