.profile__info-container {
    max-width: 336px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 895px) {
    .profile__info-container {
        margin: 0 auto;
        text-align: center;
        width: 223px;
    }
}