.profile__info {
    margin: 22px 0 25px 30px;
    max-width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 895px) {
    .profile__info{
        margin: 22.25px auto 36px auto;
    }
}