.popup__close-img {
    background: url(../../../image/Close.png) no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin: -40px 0 0 0;
    display: flex;
    justify-content: end;
    border: none;
    cursor: pointer;
}

.popup__close-img:hover {
    opacity: .6;
    transition: all .6s ease;
}

@media screen and (max-width: 673px) {
    .popup__close-img {
        width: 20px;
        height: 20px;
        margin: -36px 0 0 0;
    }
}