.popup__figure-text {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFF;
    margin: 10px 0 0 0;
    max-width: 291px;
}