.element {
    max-width: 282px;
    width: 282px;
    background-color: #FFF;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 0 31px 0;
}

@media screen and (max-width: 895px) {
    .element {
        margin: 0 auto;
    }
}