.pen {
    background: url(../../image/pen.png) no-repeat center center;
    background-size: contain;
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 673px) {
    .pen {
        width: 7.5px;
        height: 7.5px;
    }
}